<h1 class="text-center mt-4">All orders</h1>
<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Coffe Type</th>
        <th>Country</th>
        <th><button class="btn btn-secondary" data-toggle="modal" data-target="#orderCoffeModal">Order coffe</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coffe of coffeOrders">

        <td>{{ coffe.id }}</td>
        <td> {{ coffe.name }}</td>
        <td> {{ coffe.price |  number : '1.2-2' }}</td>
        <td> {{ coffe.quantity  |  number : '1.2-2'}}</td>
        <td> {{ coffe.coffeType.name}}</td>
        <td> {{ coffe.country }} </td>
        <td>
          <!-- <button class="btn btn-danger" (click)="deleteCoffeOrder(coffe)"> Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>

</div>


<!-- Add mew order coffe Modal -->
<div id="orderCoffeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order coffe</h4>
      </div>
      <div class="modal-body">


        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #name placeholder="Give a name to your coffe " name="name">
          </div>

          <div class="form-group">
            <select class="custom-select" #type>
              <option value="">Choose Coofe Type</option>
              <option *ngFor="let type of coffeTypes">{{type.id + ". " +type.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <select class="custom-select" #country>
              <option value="">Choose Country</option>
              <option *ngFor="let country of countries ">{{ country}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" #quantity name="quantity">
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          (click)="orderCoffe(name.value, type.value, country.value, quantity.value)">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>
