<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Discount</th>
        <th>price</th>
        <th>Quantity</th>
        <th><button class="btn btn-secondary" data-toggle="modal" data-target="#addCoffeTypeModal">Add Coffe
            type</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coffeType of coffeTypes">

        <td>{{ coffeType.id }}</td>
        <td> {{ coffeType.name }}</td>
        <td> {{ coffeType.discount |  number : '1.2-2' }}</td>
        <td> {{ coffeType.price  |  number : '1.2-2'}}</td>
        <td> {{ coffeType.quantity | number : '1.2-2' }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCoffeType(coffeType.id)"> Delete</button>
          <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#editCoffeTypeModal"
            (click)="setEditCoffeType(coffeType)"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="coffeTypeEdit" id="editCoffeTypeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit coffe type : {{coffeTypeEdit.name}}</h4>
      </div>
      <div class="modal-body">
        <form #editCoffeType="ngForm">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #name name="name" [ngModel]="coffeTypeEdit.name">
          </div>
          <div class="form-group">
            <label>Discount</label>
            <input type="number" class="form-control" #discount name="discount" [ngModel]="coffeTypeEdit.discount">
          </div>
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" #quantity name="quantity" [ngModel]="coffeTypeEdit.quantity">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" #price name="price" [ngModel]="coffeTypeEdit.price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          (click)="updateCoffeType(name.value, discount.value, quantity.value, price.value)">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addCoffeTypeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add coffe type : New Coffe Type</h4>
      </div>
      <div class="modal-body">
        <form #editCoffeType="ngForm">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" #name="ngModel" placeholder="Give a name to coffe type"
              [ngModel]="addCoffeType.name" name="name">
          </div>
          <div class="form-group">
            <label>Discount</label>
            <input type="number" class="form-control" #discount="ngModel" [ngModel]="addCoffeType.discount"
              name="discount">
          </div>
          <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" #quantity="ngModel" [ngModel]="addCoffeType.discount"
              name="quantity">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" #price name="price" [ngModel]="addCoffeType.price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          (click)="saveCoffeType(name.value, discount.value, quantity.value, price.value)">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
